---
import "../../styles/blog.scss";
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
const allPosts = await getCollection("blog");
---

<Base title="blog">
    <div class="blog-list">
        {
            allPosts.map((post) => (
                <a class="blog-post" href={`/blog/${post.slug}`}>
                    <h2 set:html={post.data.title} />
                    <h3 style="font-weight: normal;">
                        <i set:html={post.data.description} />
                    </h3>
                    <span>
                        <time datetime={post.data.pubDate.toISOString()}>{post.data.pubDate.toDateString()}</time> -{" "}
                        {post.data.tags.join(", ")}
                    </span>
                </a>
            ))
        }
    </div>
</Base>
